.vote-events {
    text-align: center;
    padding: 20px;
    background-color: var(--WHITE);
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--SHADOW-COLOR);
}

.vote-events h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.vote-events-container {
    display: flex;
    flex-direction: column;
    height: 450px; 
}

.event-list {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 5px; 
}

/* Scrollbar styling */
.event-list::-webkit-scrollbar {
    width: 8px;
}

.event-list::-webkit-scrollbar-track {
    background: var(--GREEN);
}

.event-list::-webkit-scrollbar-thumb {
    background: var(--PINK);
    border-radius: 4px;
    border: 2px solid var(--WHITE);
}

.event-list::-webkit-scrollbar-thumb:hover {
    background: var(--PINK-DARK);
}

.event-list {
    scrollbar-width: thin;
    scrollbar-color: var(--PINK) var(--WHITE);
}

.vote-button-container {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--WHITE);
}
  
.vote-events .event-card {
    border: none;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px var(--SHADOW-COLOR);
}
 
.vote-events .event-card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
  
.vote-events .event-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    flex: 1;
}

.vote-events .event-datetime {
    color: var(--GRAY);
    padding-left: 28px;
} 

.vote-events .event-votes {
    background-color: var(--PINK);
    color: var(--WHITE);
}

.vote-events .vote-button {
    width: 100%;
    background-color: var(--PINK);
    color: var(--WHITE);
    border: none;
    padding: 10px;
    font-weight: bold;
}

.vote-events .vote-button:hover {
     background-color: var(--PINK-DARK);
}

.vote-events .event-radio:checked{
    color: var(--PINK);
}

.vote-events .badge.event-votes  {
    background-color: var(--PINK) !important;
    color: var(--BLACK);
}

.vote-events .event-card .form-check-input:checked {
    background-color: var(--PINK) !important;
    font-weight: 600;
}

.vote-events .form-check {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.vote-events .event-card .form-check-input{
    top: auto;
    margin: 0 12px 0 0;
    vertical-align: middle;
}

.event-card.selected {
    background-color: var(--WHITE);
    border: 2px solid var(--PINK-DARK);
}
