.vote-events {
    text-align: center;
    padding: 20px;
    background-color: var(--WHITE);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.vote-events h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.vote-events .event-list {
    margin-bottom: 20px;  
}
  
.vote-events .event-card {
    border: none;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px, 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
 
     
.vote-events .event-card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
  
.vote-events .event-datetime {
    color: var(--GRAY);
} 

.vote-events .event-votes {
    background-color: var(--PINK);
    color: var(--PINK_DARK);
}

.vote-events .vote-button {
    background-color: var(--PINK);
    color: var(--BLACK);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
}

.vote-events .vote-button:hover {
     background-color: var(--PINK-DARK);
}

.vote-events .event-radio:checked{
    color: var(--PINK);
}

.vote-events .badge.event-votes  {
    background-color: var(--PINK) !important;
    color: var(--BLACK);
}

.vote-events .event-card .form-check-input:checked {
    background-color: var(--PINK) !important;
    font-weight: 600;
}

.vote-events .form-check {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.vote-events .event-card .form-check-input{
    top: auto;
    margin: 0 12px 0 0;
    vertical-align: middle;
}
