/backend/bin
/backend/bin/Debug
/backend/obj
/backend/obj
DebWev-CalenderApp.sln
backend/obj/project.nuget.cache
/backend/bin
backend/obj/project.nuget.cache
backend/obj/project.assets.json
backend/obj/Debug/net9.0/staticwebassets.build.endpoints.json
backend/obj/Debug/net9.0/refint/backend.dll
backend/obj/Debug/net9.0/ref/backend.dll
backend/obj/Debug/net9.0/backend.pdb
backend/obj/Debug/net9.0/backend.genruntimeconfig.cache
backend/obj/Debug/net9.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/obj/Debug/net9.0/backend.dll
backend/obj/Debug/net9.0/backend.csproj.FileListAbsolute.txt
backend/obj/Debug/net9.0/backend.csproj.CoreCompileInputs.cache
backend/obj/Debug/net9.0/backend.csproj.AssemblyReference.cache
backend/obj/Debug/net9.0/backend.assets.cache
backend/obj/Debug/net9.0/backend.AssemblyInfoInputs.cache
backend/obj/Debug/net9.0/backend.AssemblyInfo.cs
backend/obj/Debug/net9.0/apphost.exe
backend/obj/backend.csproj.nuget.g.props
backend/obj/backend.csproj.nuget.dgspec.json
backend/bin/Debug/net9.0/backend.staticwebassets.endpoints.json
backend/bin/Debug/net9.0/backend.pdb
backend/bin/Debug/net9.0/backend.exe
backend/bin/Debug/net9.0/backend.dll
backend/obj/Debug/net9.0/backend.AssemblyInfo.cs
backend/obj/Debug/net9.0/backend.AssemblyInfoInputs.cache
backend/obj/Debug/net9.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/bin
backend/obj
backend/bin/Debug/net9.0/backend.dll
backend/bin/Debug/net9.0/backend.pdb
backend/obj/Debug/net9.0/backend.AssemblyInfo.cs
backend/obj/Debug/net9.0/backend.AssemblyInfoInputs.cache
backend/obj/Debug/net9.0/backend.dll
backend/obj/Debug/net9.0/backend.pdb
backend/obj/Debug/net9.0/ref/backend.dll
backend/obj/Debug/net9.0/refint/backend.dll
backend/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
backend/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
