:root {
    --BLACK: #2C363F;
    --PINK: #e76a7c;
    --PINK-DARK: #C41C43FF;
    --WHITE: #ffffff;
    --GRAY: #838383;
    --GREEN: #F2F5EAFF;
    /* Calendar css */
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #ffffff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.418);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2C3E50;
    --fc-button-border-color: #2C3E50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;

    --fc-event-bg-color: #e76a7c;
    --fc-event-border-color: #e76a7c;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
    --event-form: #FDF2F4FF;
}