@import '~/src/shared/global.css';

body {
    background-color: var(--GREEN);
}
.Login {
    position: fixed;

    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 17px 35px #171a1f3D, 0px 0px 2px var(--BLACK);
    
    top: 50%;
    left: 50%;
    width: 360px;
    height: 490px;
    transform: translate(-50%, -50%);

    text-align: center;

    background-color: var(--WHITE);
}

.Login h1 {
    text-align: left;
    font-size: 30px;
    color: var(--BLACK);
    font-weight: bold;
    margin: 10px 0;
}

.Login h2 {
    text-align: left;
    font-size: 15px;
    color: var(--BLACK);
    font-weight: 700;
    margin: 0px 0;
}

.Login p {
    text-align: left;
    font-size: 20px;
    color: var(--GRAY);
    font-weight: 700;
    margin: 10px 0;
}

.Login input {
    display: block;
    margin: 10px 0;
}

.form-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: left;
    height: 80%; 
}


.form-container-input-password {
  padding: 10px 10px 10px 40px;
  border: 1px solid var(--GRAY);
  border-radius: 10px;
  font-size: 14px;
  background-color: var(--WHITE);
  background-image: url("~/src/assets/padlock.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.form-container-input-email {
  padding: 10px 10px 10px 40px;
  border: 1px solid var(--GRAY);
  border-radius: 10px;
  font-size: 14px;
  background-color: var(--WHITE);
  background-image: url("~/src/assets/mail.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}


.form-container-input:focus {
  border-color: var(--PINK);
  outline: none;
}

.form-container button {
  border: none;
  border-radius: 10px;
  background-color: var(--PINK);
  color: var(--WHITE);
  font-weight: bold;
  cursor: pointer;
  height: 10%;
  margin-top: 20px;
}

.form-container button:hover {
  color: var(--WHITE);
  background: var(--PINK-DARK);
}

.form-container button:active {
  color: var(--WHITE);
  background: var(--PINK-DARK);
}

.login-container {
    background-color: var(--WHITE);
}

.login-form {
    background-color: var(--WHITE);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-button {
    background-color: var(--PINK);
    border-color: var(--PINK);
    color: var(--WHITE);
}

.login-button:hover {
    background-color: var(--PINK-DARK);
    border-color: var(--PINK-DARK);
}
