.modal-content {
    background-color: var(--WHITE);
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid var(--GREEN);
}

.modal-footer {
    border-top: 1px solid var(--GREEN);
}

.btn-secondary {
    background-color: var(--PINK);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--PINK-DARK);
}